[DatabaseService]
    ;
    ; ### Choose the DB
    ;

    ; MSSQL
    ; Uncomment these lines if you want to use MSSQLstorage
    ;ConnectionString = "Data Source=localhost;Database=opensim;User ID=opensim;Password=***;Old Guids=true;"
    ; Uncomment this line if you are using MSSQLand want to use a different database for estates
    ; The usual application for this is to allow estates to be spread out across multiple simulators by share the same database.
    ; Most people won't need to do this so only uncomment if you know what you're doing.
    ;Type = "MSSQL"
    ;ConnectionString = "Server=localhost;Database=opensim;User Id=opensim; password=***;"
    ;EstateConnectionString = "Data Source=localhost;Database=opensim;User ID=opensim;Password=***;Old Guids=true;"
